<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs', { title: 'Carlos Mario Ramos Pérez' }) %>
<body>
	<%- include('./partials/main-header.ejs') %>
	<main>
		<%- include('./partials/main-banner.ejs') %>
		<%- include('./partials/about-me.ejs') %>
		<%- include('./partials/grid-skills.ejs') %>
	</main>
	<%- include('./partials/main-footer.ejs') %>
</body>
</html>